.wrapper {
  width: 320px;
  padding-top: 10px;
  margin-bottom: 16px;
  border-bottom: 1px solid #2a363b;
}

.navigation {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.link {
  margin-right: 24px;
  font-weight: 500;
  font-size: 18px;
}

.activeLink {
  composes: link;
  color: black;
  font-size: 22px;
  text-decoration: underline;
}

.poster {
  max-width: 320px;
  margin-bottom: 20px;
  border-radius: 5px;
  margin-top: 50px;
  height: 450px;
  object-fit: cover;
}

.title {
  font-family: 'Cinzel', serif;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 20px;
}

.info {
  font-family: 'Dosis', sans-serif;
  margin-bottom: 30px;
  font-size: 18px;
  color: black;
}

.genre {
  composes: info;
  display: flex;
  align-items: center;
}

.genre li:not(:last-child)::after {
  content: ',';
  margin-right: 5px;
}

.genreList {
  font-family: 'Bodoni Moda', serif;
  font-weight: 300;
  font-size: 20px;
}

.description {
  margin-left: 20px;
  text-align: left;
}

.rating {
  display: inline-block;
  margin-left: 8px;
  padding: 5px;
}

@media (min-width: 768px) {
  .wrapper {
    width: 767px;
    display: flex;
  }
}

@media (min-width: 940px) {
  .wrapper {
    width: 940px;
    margin: 0 auto;
  }
}
