a {
  font-family: 'Bodoni Moda', serif;
}

.item {
  padding: 20px 0;
  font-weight: 300;
  text-align: center;
  list-style: none;
  font-family: 'Dosis', sans-serif;
}

.authorName {
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
}
